.header {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 9000;
    background: white;
    transition: height .4s;
}
.header.project-page {
    height: 170px;
}
    .header .intro {
        text-decoration: none;
        white-space: nowrap;
        z-index: 1000;
    }
        .header .name {
            position: absolute;
            top: 40px;
            left: 40px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            transition: all .4s;
        }
        .header.home .name {
            top: calc(50vh - 40px);
            left: 50vw;
            transform: translateX(-50%);
            font-size: 40px;
            line-height: 40px;
        }
        .header .status {
            position: absolute;
            top: calc(50vh - 20px);
            left: 50vw;
            transform: translateX(-50%);
            font-size: 25px;
            line-height: 25px;
            font-weight: 300;
            margin-top: 10px;
            opacity: 0;
            transition: opacity .2s, top .4s .1s;
        }
        .header.home .status {
            opacity: 1;
            top: 50vh;
            transition: opacity .4s .4s, top .4s .4s;
        }
    .header .breadcrumbs {
        position: absolute;
        top: 100px;
        left: 40px;
        transform: translateX(0);
        z-index: 1000;
        transition: top .4s, left .4s, transform .4s;
    }
    .header.home .breadcrumbs {
        top: calc(100vh - 180px);
        left: 50vw;
        transform: translateX(-50%);
    }
    .header.projects-page .breadcrumbs {
        top: 50vh;
        left: 50vw;
        transform: translateX(-100%);
    }
        .header .breadcrumbs > a {
            font-size: 40px;
            line-height: 60px;
            font-weight: 700;
            text-decoration: none;
            top: 0;
            transition: font-size .4s, top .4s;
        }
        .header.home .breadcrumbs > a {
            font-size: 20px;
            transition: font-size .4s;
        }
        .header:not(.home) .breadcrumbs > a {
            top: -30px;
        }
        .underline:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background: #222222;
            transition: height .4s;
        }
        .header .breadcrumbs > a.underline:after,
        .header .breadcrumbs .project-thumb span.underline:after {
            height: 2px;
        }
        .header.home .breadcrumbs > a.underline:after,
        .header.home .breadcrumbs .project-thumb span.underline:after {
            height: 1px;
        }
        .header .breadcrumbs .separator {
            display: inline-block;
            font-size: 20px;
            line-height: 60px;
            font-weight: 700;
            padding: 0;
            opacity: 0;
            top: 0;
            max-width: 0px;
            transition: font-size .4s, opacity .4s, max-width .4s, padding .4s;
        }
        .header:not(.home) .breadcrumbs .separator {
            top: -30px;
            font-size: 40px;
            opacity: 1;
            max-width: 60px;
            padding: 0 20px;
        }
