.projects {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    top: -50vh;
    left: 100%;
    opacity: 1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(0,0,0,0) 100%);
}
.header.home .projects,
.header.project-page .projects {
    pointer-events: none;
}
    .projects .swiper-container {
        height: 100%;
    }
    .projects .swiper-slide {
        height: auto;
    }
    .projects .swiper-wrapper {
        flex-direction: column;
    }

@media (max-width: 767px) {
    .projects {
        width: calc(100vw - 125px);
    }
}
