@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    /*background: #fcfcfc;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    box-sizing: border-box;
    overflow-x: hidden;
}
* {
    position: relative;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    box-sizing: inherit;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}
main {
    top: 170px;
    padding: 10px 40px;
    transition: top .2s;
}
.underline:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #222222;
    transition: height .4s;
}
@media (max-width: 1024px) {
    main {
        top: 140px;
    }
    a {
        padding: 20px;
        left: -20px;
    }
    a.underline:after {
        width: calc(100% - 40px);
        left: 20px;
        bottom: 20px;
    }
}
@media (max-width: 767px) {
    main {
        top: 65px;
        padding: 20px;
    }
}
