@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    /*background: #fcfcfc;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    box-sizing: border-box;
    overflow-x: hidden;
}
* {
    position: relative;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    box-sizing: inherit;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}
.header {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 9000;
    background: white;
    transition: height .4s;
}
.header.project-page {
    height: 165px;
}
    .header .intro {
        text-decoration: none;
        white-space: nowrap;
        z-index: 1000;
    }
        .header .name {
            position: absolute;
            top: 40px;
            left: 40px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            transition: all .4s;
        }
        .header.home .name {
            top: calc(50vh - 40px);
            left: 50vw;
            transform: translateX(-50%);
            font-size: 40px;
            line-height: 40px;
        }
        .header .status {
            position: absolute;
            top: calc(50vh - 20px);
            left: 50vw;
            transform: translateX(-50%);
            font-size: 25px;
            line-height: 25px;
            font-weight: 300;
            margin-top: 10px;
            opacity: 0;
            transition: opacity .2s, top .4s .1s;
        }
        .header.home .status {
            opacity: 1;
            top: 50vh;
            transition: opacity .4s .4s, top .4s .4s;
        }
    .header .breadcrumbs {
        position: absolute;
        top: 100px;
        left: 40px;
        transform: translateX(0);
        z-index: 1000;
        transition: top .4s, left .4s, transform .4s;
    }
    .header.home .breadcrumbs {
        top: calc(100vh - 180px);
        left: 50vw;
        transform: translateX(-50%);
    }
    .header.projects-page .breadcrumbs {
        top: 50vh;
        left: 50vw;
        transform: translateX(-100%);
    }
        .header .breadcrumbs > a {
            font-size: 40px;
            line-height: 60px;
            font-weight: 700;
            text-decoration: none;
            top: 0;
            transition: font-size .4s, top .4s;
        }
        .header.home .breadcrumbs > a {
            font-size: 20px;
            transition: font-size .4s;
        }
        .header:not(.home) .breadcrumbs > a {
            top: -30px;
        }
        .underline:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background: #222222;
            transition: height .4s;
        }
        .header .breadcrumbs > a.underline:after,
        .header .breadcrumbs .project-thumb span.underline:after {
            height: 2px;
        }
        .header.home .breadcrumbs > a.underline:after,
        .header.home .breadcrumbs .project-thumb span.underline:after {
            height: 1px;
        }
        .header .breadcrumbs .separator {
            display: inline-block;
            font-size: 20px;
            line-height: 60px;
            font-weight: 700;
            padding: 0;
            opacity: 0;
            top: 0;
            max-width: 0px;
            transition: font-size .4s, opacity .4s, max-width .4s, padding .4s;
        }
        .header:not(.home) .breadcrumbs .separator {
            top: -30px;
            font-size: 40px;
            opacity: 1;
            max-width: 60px;
            padding: 0 20px;
        }

main {
    top: 200px;
    padding: 30px;
}
.projects {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    top: -50vh;
    left: 100%;
    opacity: 1;
}
.header.home .projects,
.header.project-page .projects {
    pointer-events: none;
}
    .projects .swiper-container {
        height: 100%;
    }
    .projects .swiper-slide {
        height: auto;
    }
    .project-thumb {
        display: block;
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
        text-align: left;
        text-transform: lowercase;
        opacity: 0.5;
        transition: opacity .3s .1s, font-size .4s;
    }
        .header.home .project-thumb {
            opacity: 0;
            font-size: 20px;
            top: 30px;
            transition: opacity .3s, font-size .4s;
        }
        .header.project-page .project-thumb {
            transition: opacity .2s, font-size .4s;
        }
        .header:not(.projects-page) .project-thumb:not(.swiper-slide-active) {
            opacity: 0;
        }
        .project-thumb.swiper-slide-active,
        .project-thumb.active {
            opacity: 1;
        }
            .project-thumb span:after {
                opacity: 0;
                transition: opacity .3s;
            }
            .project-thumb.swiper-slide-active span:after,
            .project-thumb.active span:after {
                opacity: 1;
            }

.project {
    display: flex;
}
    .project .image {
        width: calc(75% - 20px);
        padding-right: 40px;
        opacity: 0;
        left: 40px;
        transition: opacity .4s, left .4s;
    }
    .project.active .image {
        opacity: 1;
        left: 0;
    }
        .project .swiper-slide {
            padding-bottom: 66.66%;
            background: rgba(0,0,0,.05);
        }
        .project img {
            display: block;
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity .4s;
        }
        .project img.loaded {
            opacity: 1;
        }
        .project img + img{
            margin-top: 20px;
        }
    .project .content {
        width: 25%;
        text-align: left;
        text-transform: lowercase;
    }
        .project .content dl {
            opacity: 0;
            left: 40px;
            transition: opacity .4s .2s, left .4s .2s;
        }
        .project .content dl:nth-child(2) {
            transition: opacity .4s .3s, left .4s .3s;
        }
        .project .content dl:nth-child(3) {
            transition: opacity .4s .4s, left .4s .4s;
        }
        .project.active .content dl {
            opacity: 1;
            left: 0;
        }
            .project .content dt {
                display: inline-block;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .project .content dd {
                font-size: 16px;
                font-weight: 200;
                text-align: left;
                margin: 0 0 20px;
            }
                .project .content dd ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                    .project .content dd ul li {
                        /*padding-left: 10px;*/
                    }
                    .project .content dd ul li:before {
                        content: '- ';
                    }
